<div class="container-fluid payment" ng-controller="PaymentCtrl">
	<label>请选择支付方式：</label>

	<div class="row">
		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<img src="images/payment/visa.png" style="width:190px;height:60px;">
				<div class="text-center caption">
					<a href="#/stkAnal/12">
						<button class="btn btn-success">
							<label>VISA（成功）</label>
						</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<img src="images/payment/zfb.png" style="width:190px;height:60px;">
				<div class="text-center caption">
					<a href="#/buyPub/1">
						<button class="btn btn-danger">
							<label>支付宝（失败）</label>
						</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<img src="images/payment/zggs.png" style="width:250px;height:60px;">
				<div class="text-center caption">
					<button class="btn btn-info">
						<label>中国工商银行</label>
					</button>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<img src="images/payment/zgyh.png" style="height:50px;margin-top:10px;">
				<div class="text-center caption">
					<button class="btn btn-info">
						<label>中国银行</label>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>