<div ng-controller="HomePageCtrl">
	<div class="app-header row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
			<span class="icon glyphicon glyphicon-remove" aria-hidden="true"></span>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  text-center">
			<span class="title" aria-hidden="true">小巴</span>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  text-right">
			<span class="icon glyphicon glyphicon-refresh" aria-hidden="true"></span>
		</div>
	</div>
		
</div>