.app-header{
	padding: 10px 2px 10px 2px;
	border-bottom: 1px solid #e7e7e7;
	margin-top:50px;
}
.app-header .icon{
	font-size:15px;
}
.app-header .title{
	font-weight:800;
	display:inline-block;
	font-size:1.2em;
	margin-top:5px;
}
.app-header .btn{
	border-color:rgba(173, 173, 173, 0.15);
}

.app-footer{
	padding-top:10px;
	background-color:#F8F8F8;
}