/**stock analysis pag **/
.stock-analysis .app-header{
	padding:2px;
	background-color:white;
	position:fixed;
	z-index:1020; 
	width:100%;
}
.stock-analysis .stock-graph-block{
	top:50px;
	border-bottom: 1px solid #e7e7e7;
	padding:10px;
	margin-bottom: 15px;	
	background-color:white;
	/*position:fixed;*/
	z-index:1010; 
	width:100%;
}
.stock-analysis .stock-graph-block .revenu-block-left{
	padding-left:5px;
	text-align:center;
}
.stock-analysis .stock-graph-block .revenu-block-left div:nth-child(1){
	font-size:15px; font-weight: 900; color: red;
}
.stock-analysis .stock-graph-block .revenu-block-left div:nth-child(2){
	color:red; font-size:12px;
}
.stock-analysis .stock-graph-block .revenu-block-left div:nth-child(3){
	font-size:12px;
	font-weight:700;
}
.stock-analysis .stock-graph-block .revenu-block-center span{
	font-size:10px;
}
.stock-analysis .stock-graph-block .revenu-block-center div{
	color:red; font-size:30px; font-weight:700;
}
.stock-analysis .stock-graph-block .revenu-block-right{
	font-size:10px;
	text-align:center;
}

.stock-analysis .stock-gushen-comment{
	padding:5px;
	/*padding-top:250px;*/
	border-bottom: 1px solid #e7e7e7;
}
.stock-analysis .stock-gushen-comment .user-star{
	font-size:8px;
	color:blue;
	margin-top:3px;
}
.stock-analysis .stock-gushen-comment .title{
	font-size:14px;
	padding:5px;
}
.stock-analysis .stock-gushen-comment .content{
	font-size:12px;
}

.stock-analysis .announcement-timeline{
	padding-left:15px;
	padding-right:15px;
}

.stock-analysis .announcement-timeline .header{
	margin-top:20px;
	left:-18px;
}

.stock-analysis .announcement-timeline button{
	padding:2px 5px;
	font-size:10px;
}

.stock-analysis .announcement-timeline .icon{
	font-size:18px;
	color:rgb(0, 168, 255);
}
.stock-analysis .announcement-timeline .time{
	font-size:12px;
	font-weight:700;
}
.stock-analysis .announcement-timeline .timeline-content-block{
	border-left:2px solid rgba(0, 168, 255, 0.5);
	border-left:1px dotted #ccc;
	border-right:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
}

.timeline-content-block .share-block{
	padding-bottom:15px;
	border-bottom:1px dotted #ccc;
}

.timeline-content-block .user-comments{
	padding-top:5px;
}

.stock-analysis .announcement-timeline .gushen-comment-block{
	padding:10px;
}
.stock-analysis .announcement-timeline .gushen-comment-block p{
	font-size:12px;
}



/** stock cmt modal **/
.prediction-modal{
	
}
.prediction-modal .first-level-title{
	font-size:14px;
	font-weight:700;
	padding:10px;
}
.prediction-modal .second-level-title{
	font-size:12px;
	font-weight:700;
	padding:10px;
}
.prediction-modal .second-level-title .time{
	margin-right:12px;
}
.prediction-modal .prediction .sticker{
	padding:10px 2px;
}
.prediction-modal .prediction .compare-block{
	width:35%;
	padding-bottom:10px;
}
.prediction-modal .prediction .compare-block span{
	padding:3px;
	font-size:10px;
	background-color:#fff;
	color:#828080;
}
.prediction-modal .block-time .input-group{
	width:75%;
}
.prediction-modal .block-time .form-control{
	text-align:left;
	font-size:12px;
}

