<div class="container-fluid" ng-controller="BuyPubCtrl">
	<div class="buyPub-block">
		<div class="row">
 			<div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">
	 			<div class="thumbnail">
	 		 		<img ng-src="{{pubInfo.pubImg}}" width="100%">
	    		</div>
	 		</div>
		</div>
		<div class="row outline">
			<div class="col-xs-3 col-md-3 col-md-2 col-lg-1 text-center">
				<div><img src="images/home/gushen.png"></div>
				<div class="user-star">
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
				
			</div>
			<div class="col-xs-9 col-md-9 col-md-10 col-lg-11">
				<div class="title clearfix">
					<span class="username"><b>{{pubInfo.owner}}</b></span>
					<span class="pull-right glyphicon glyphicon-thumbs-up"><span>{{pubInfo.totalLikes}}</span></span>
				</div>
				<div class="content">
					<p>
						{{pubInfo.desc}}
					<p>
				</div>
			</div>
		</div>
		<div class="row user-comments" collapse="isCollapseCmt">
			<div ng-repeat="item in pubInfo.cmts" class="comment-unit">
				<div class="col-xs-2 col-md-2 col-md-2 col-lg-1 text-center">
				</div>
				<div class="col-xs-10 col-md-10 col-md-10 col-lg-11">
					<div class="title clearfix">
						<img src="images/3rd/qq.png" style="width:35px;">
						<span><b>{{item.username}}</b></span>
						<span>[{{item.time}}]</span>
					</div>
					<div class="content">
						<p style="padding-left:50px">{{item.cmt}}</p>
					</div>
				</div>
			</div>
		</div>
		<div collapse="isCollapseReport" class="report bg-danger">
			<form class="form-inline" ng-submit="report()">
			  <div class="form-group">
			    <label>您的联系方式（如邮箱）</label>
			    <input type="text" class="form-control" placeholder="" required ng-model="reportInfo.contact">
			  </div>
			  <div class="form-group">
			    <label>其他信息</label>
			    <textarea class="form-control"placeholder="如原作者信息" required ng-model="reportInfo.cmt"></textarea>
			  </div>
			  <button type="submit" class="btn btn-danger">举报</button>
			</form>
		</div>
		
	</div>
	
	<div class="app-footer row">
		<div class="col-xs-4 col-sm-4 col-md-6 col-lg-6 text-left buyPub-buy-resume">
			<span>总收益(创建于 {{pubInfo.createDate}})</span>
			<div>{{pubInfo.totalProfit}}%</div>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6  text-right buyPub-buy-action">
			<div>
				<button style="margin:3px 1px" type="button" class="btn btn-info" ng-click="payment()">购买(仅仅是显示) ¥{{pubInfo.price}}</button>
				<button style="margin:3px 1px" type="button" class="btn btn-success" ng-click="isCollapseCmt=!isCollapseCmt">用户评价</button>
				<button style="margin:3px 1px" type="button" class="btn btn-danger" ng-click="isCollapseReport=!isCollapseReport"><span class="glyphicon glyphicon-alert"></span> 举报</button>
			</div>
			<span class="title" aria-hidden="true"><b>{{pubInfo.boughtNum}}已购买</b></span>
		</div>
	</div>
</div>