<div class="comment" ng-controller="CommentCtrl">

	<tabset justified="false">
	    <tab heading="赞成评论" active="tabs[0].active" select="showAgreeTab()">
	    	<div ng-repeat="comment in positiveComments">
				<div class="row">
					<div class="user-block col-xs-2 text-center">
						<img ng-src="{{comment.userImg}}" class="photo">
					</div>
					<div class="comment-block col-xs-10">
						<div>
							<span class="name">{{comment.username}}</span>
							<span class="action">发表了评论</span>
						</div>
						<div class="content">
							<span>{{comment.cmt}}</span>
						</div>
						<div class="footer">
							<span class="text-left">发表于{{comment.time}}</span>
						</div>
					</div>
				</div>
			</div>
	    </tab>
	    <tab heading="反对评论" active="tabs[1].active" select="showDisagreeTab()">
	    	<div ng-repeat="comment in negativeComments">
				<div class="row">
					<div class="user-block col-xs-2 text-center">
						<img ng-src="{{comment.userImg}}" class="photo">
					</div>
					<div class="comment-block col-xs-10">
						<div>
							<span class="name">{{comment.username}}</span>
							<span class="action">发表了评论</span>
						</div>
						<div class="content">
							<span>{{comment.cmt}}</span>
						</div>
						<div class="footer">
							<span class="text-left">发表于{{comment.time}}</span>
						</div>
					</div>
				</div>
			</div>	    
	    </tab>
	  </tabset>


	<div class="container-fluid">
		
	</div>
</div>