<div class="createPub" ng-controller="CreatePubCtrl">
	<div class="well">
		<form>
		  <div class="form-group">
		  	<label>选择股票</label>
		  	<div class="input-group">
		      <input type="text" class="form-control" placeholder="搜索">
		      <span class="input-group-btn">
		        <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search"></span></button>
		      </span>
		    </div>
		  </div>
		  <div class="form-group">
		  	<span>尚未选择股票</span>
		  </div>
		  <div class="form-group">
		    <label>上传图片</label>
		    <input type="file">
		    <p class="help-block">请上传pub图片，也可选择不传</p>
		  </div>
		  <div class="form-group">
		  	<label>添加描述</label>
		  	<textarea class="form-control" rows="4" placeholder="Pub描述"></textarea>
		  </div>
		  <div class="form-group">
		  		<label>选择收费档</label>
			  	<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    <span>1元/周</span>
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					<span>5元/周</span>		 
				 </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
				    <span>10元/周</span>
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
				    <span>免费</span>
				  </label>
				</div>
			</div>
		  
		  <button type="submit" class="btn btn-primary">创建</button>
		</form>
	</div>	
</div>