<div class="feed" ng-controller="FeedCtrl">
	<div class="container-fluid">
		<div ng-repeat="feed in feeds">
			<!-- row for tipFeed -->
			<div class="row" ng-show="feed.type=='tipFeed'">
				<div class="user-block col-xs-2 text-center">
					<img src="images/3rd/somua.jpg" class="photo">
				</div>
				<div class="feed-block col-xs-10">
					<div>
						<span class="name">{{feed.pubName}}</span>
						<span class="action">{{feed.pubOwner}}发表了新的Tip</span>
					</div>
					<div class="content">
						<b>{{feed.newsTitle}}</b><br/>
						<span>{{feed.tipContent}}</span>
					</div>
					
					<div class="well">
						<div>
							{{feed.newsAbstract}}
						</div>
						<a href="#/newsContent/{{feed.newsId}}">点击查看相关新闻详情</a>
					</div>
					<div class="footer">
						<span class="text-left">发表于{{feed.time}}</span>
						<div class="pull-right">
							<span class="comment-icon glyphicon glyphicon-thumbs-up"></span>
							<span class="comment-icon glyphicon glyphicon-thumbs-down"></span>
							<span class="comment-icon glyphicon glyphicon-comment"></span>
						</div>
					</div>
				</div>
			</div>
			<!-- row for predictionFeed -->
			<div class="row" ng-show="feed.type=='predictionFeed'">
				<div class="user-block col-xs-2 text-center">
					<img src="images/3rd/somua.jpg" class="photo">
				</div>
				<div class="feed-block col-xs-10">
					<div>
						<span class="name">{{feed.pubName}}</span>
						<span class="action">{{feed.pubOwner}}发表了新的预测</span>
					</div>
					<div class="content">
						<span>{{feed.predictionContent}}</span><br/>	
					</div>
					<div class="footer">
						发表于{{feed.time}}
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>