<div class="container-fluid" ng-controller="HomePageCtrl">
	<div class="app-home-search">
		<div class="row">
			<div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
	   			<div class="input-group">
			      <input type="text" class="form-control" placeholder="搜索股票/基金经理..(随便搜)" ng-model="searchText">
			      <span class="input-group-btn">
			        <button ng-click="searchPub()" class="btn btn-info" type="button"><span class="icon glyphicon glyphicon-search"></span></button>
			      </span>
	    		</div>
	  		</div>
	  		<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 upload-image-block">
		  		<button ng-click="goToCreatePub()" type="button" class="btn btn-success">
		  			<span>新建Pub</span>
		  		</button>
	  		</div>
		</div>	
	</div>
	
	<div class="app-home-thumbnails">
		<div class="row">
	 		<div ng-repeat="pub in pubs" class="col-xs-6 col-md-3">
	 		 	<div class="thumbnail" ng-click="goToCoverPage(pub)">
	 		 		<div class="thumbnail-header caption">
	    				<span class="">{{pub.pubName}}</span>
	    				<span ng-show="!pub.available" class="glyphicon glyphicon-lock" style="color:red"></span>
	    				<span class="pull-right glyphicon glyphicon-thumbs-up"><span>{{pub.likes}}</span></span>
	    			</div>
	    			<a><img class="thumbnail-image" style="width:170px; height:170px" ng-src="{{pub.imgUrl}}"></a>
	    			<div class="thumbnail-desc caption clearfix">
	    				<div class="pull-left">
	    					<div class="moto">
	    						<span>{{pub.desc}}</span>
    						</div>
		    				<div class="user">
		    					<span>{{pub.owner}}</span>
		    				</div>
	    				</div>
	    				<div class="profit pull-right">
	    					<span>{{pub.stats}}%</span>
	    				</div>
	    			</div>
		   		</div>
	 		</div>
		</div><!-- row -->
	</div><!-- app-home-thumbnails -->
</div>