<div ng-controller="HomePageCtrl">
	<div class="row app-header">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
			<button type="button" class="btn btn-default" aria-hidden="true"><span class="icon glyphicon glyphicon-remove"></span></button>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  text-center">
			<span class="title" aria-hidden="true">XIAOBA</span>
		</div> 
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  text-right">
			<button type="button" class="btn btn-default" aria-hidden="true"><span class="icon glyphicon glyphicon-refresh"></span></button>
		</div>
	</div>
	<div class="row app-home-search">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   			<div class="input-group">
		      <input type="text" class="form-control" placeholder="Search for...">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button"><span class="icon glyphicon glyphicon-search"></span></button>
		      </span>
    		</div>
  		</div>
	</div>
	
	<div class="row app-home-thumbnails">
		 <div class="col-xs-6 col-md-3">
   		 	<div href="#" class="thumbnail">
      			<img src="..." alt="...">
    		</div>
  		</div>
  		 <div class="col-xs-6 col-md-3">
   		 	<div href="#" class="thumbnail">
      			<img src="..." alt="...">
    		</div>
  		</div>
  		 <div class="col-xs-6 col-md-3">
   		 	<div href="#" class="thumbnail">
      			<img src="..." alt="...">
    		</div>
  		</div>
  		 <div class="col-xs-6 col-md-3">
   		 	<div href="#" class="thumbnail">
      			<img src="..." alt="...">
    		</div>
  		</div>
  		 <div class="col-xs-6 col-md-3">
   		 	<div href="#" class="thumbnail">
      			<img src="..." alt="...">
    		</div>
  		</div>
  		 <div class="col-xs-6 col-md-3">
   		 	<div href="#" class="thumbnail">
      			<img src="..." alt="...">
    		</div>
  		</div>
  		 <div class="col-xs-6 col-md-3">
   		 	<div href="#" class="thumbnail">
      			<img src="..." alt="...">
    		</div>
  		</div>
  		 <div class="col-xs-6 col-md-3">
   		 	<div href="#" class="thumbnail">
      			<img src="..." alt="...">
    		</div>
  		</div>
  		 <div class="col-xs-6 col-md-3">
   		 	<div href="#" class="thumbnail">
      			<img src="..." alt="...">
    		</div>
  		</div>
	</div>
	
</div>