<div ng-controller="HomePageCtrl">
	<div class="app-header">
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
				<button type="button" class="btn btn-default" aria-hidden="true"><span class="icon glyphicon glyphicon-remove"></span></button>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  text-center">
				<span class="title" aria-hidden="true">小巴</span>
			</div> 
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4  text-right">
				<button type="button" class="btn btn-default" aria-hidden="true"><span class="icon glyphicon glyphicon-refresh"></span></button>
			</div>
		</div>
	</div>
	<div class="app-home-search">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	   			<div class="input-group">
			      <input type="text" class="form-control" placeholder="Search for...">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><span class="icon glyphicon glyphicon-search"></span></button>
			      </span>
	    		</div>
	  		</div>
		</div>	
	</div>
	
	<div class="app-home-thumbnails">
		<div class="row">
	 		<div class="col-xs-6 col-md-3">
	 		 	<div class="thumbnail">
	 		 		<div class="thumbnail-header caption">
	    				<span class="">孤注一掷</span>
	    				<span class="pull-right glyphicon glyphicon-thumbs-up"><span>3450</span></span>
	    			</div>
	    			<img class="thumbnail-image" src="images/home/exp1.png" alt="...">
	    			<div class="thumbnail-desc caption clearfix">
	    				<div class="pull-left">
	    					<div class="moto">
	    						<span>maybeza</span>
    						</div>
		    				<div class="user">
		    					<span>多福多</span>
		    				</div>
	    				</div>
	    				<div class="profit pull-right">
	    					<span>138%</span>
	    				</div>
	    			</div>
		   		</div>
	 		</div>
	 		
	 		<div class="col-xs-6 col-md-3">
	 		 	<div class="thumbnail">
	 		 		<div class="thumbnail-header caption">
	    				<span class="">孤注一掷</span>
	    				<span class="pull-right glyphicon glyphicon-thumbs-up"><span>3450</span></span>
	    			</div>
	    			<img class="thumbnail-image" src="images/home/exp1.png" alt="...">
	    			<div class="thumbnail-desc caption clearfix">
	    				<div class="pull-left">
	    					<div class="moto">
	    						<span>maybeza</span>
    						</div>
		    				<div class="user">
		    					<span>多福多</span>
		    				</div>
	    				</div>
	    				<div class="profit pull-right">
	    					<span>138%</span>
	    				</div>
	    			</div>
		   		</div>
	 		</div>
	 		
	 		<div class="col-xs-6 col-md-3">
	 		 	<div class="thumbnail">
	 		 		<div class="thumbnail-header caption">
	    				<span class="">孤注一掷</span>
	    				<span class="pull-right glyphicon glyphicon-thumbs-up"><span>3450</span></span>
	    			</div>
	    			<img class="thumbnail-image" src="images/home/exp2.png" alt="...">
	    			<div class="thumbnail-desc caption clearfix">
	    				<div class="pull-left">
	    					<div class="moto">
	    						<span>maybeza</span>
    						</div>
		    				<div class="user">
		    					<span>多福多</span>
		    				</div>
	    				</div>
	    				<div class="profit pull-right">
	    					<span>138%</span>
	    				</div>
	    			</div>
		   		</div>
	 		</div>
	 		
	 		<div class="col-xs-6 col-md-3">
	 		 	<div class="thumbnail">
	 		 		<div class="thumbnail-header caption">
	    				<span class="">孤注一掷</span>
	    				<span class="pull-right glyphicon glyphicon-thumbs-up"><span>3450</span></span>
	    			</div>
	    			<img class="thumbnail-image" src="images/home/exp2.png" alt="...">
	    			<div class="thumbnail-desc caption clearfix">
	    				<div class="pull-left">
	    					<div class="moto">
	    						<span>maybeza</span>
    						</div>
		    				<div class="user">
		    					<span>多福多</span>
		    				</div>
	    				</div>
	    				<div class="profit pull-right">
	    					<span>-1%</span>
	    				</div>
	    			</div>
		   		</div>
	 		</div>
	 		
	 		<div class="col-xs-6 col-md-3">
	 		 	<div class="thumbnail">
	 		 		<div class="thumbnail-header caption">
	    				<span class="">孤注一掷</span>
	    				<span class="pull-right glyphicon glyphicon-thumbs-up"><span>3450</span></span>
	    			</div>
	    			<img class="thumbnail-image" src="images/home/exp2.png" alt="...">
	    			<div class="thumbnail-desc caption clearfix">
	    				<div class="pull-left">
	    					<div class="moto">
	    						<span>maybeza</span>
    						</div>
		    				<div class="user">
		    					<span>多福多</span>
		    				</div>
	    				</div>
	    				<div class="profit pull-right">
	    					<span>-1%</span>
	    				</div>
	    			</div>
		   		</div>
	 		</div>
	 		
		</div><!-- row -->
	</div><!-- app-home-thumbnails -->
</div>