<div ng-controller="LoginCtrl">
	<div class="login-wrapper">
		<tabset justified="true" type="pills" class="login">
			<tab heading="账号登录">
				<form class="well form-login" ng-submit="login()">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="账号/手机号" ng-model="userLoginInfo.login" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="密码" ng-model="userLoginInfo.password" required>
					</div>
					<div class="form-group validationCode">
						<label>验证码：</label>
						<div>
							<input type="text" placeholder="请输入验证码" ng-model="userLoginInfo.inputCapcha" required>
							<div ng-click="refreshCapcha()" class="btn btn-success">
								<span>刷新</span>
								<span class="glyphicon glyphicon-refresh"></span>
							</div>
						</div>	
						<div style="margin-top:10px;">
							<img ng-src="http://123.57.210.176/util/getcaptcha?{{randomNum}}">
						</div>
					</div>
					
					<div class="btn-group">
						<button type="submit" class="btn btn-danger"><b>登录</b></button>
						<button ng-click="isCollapsed = !isCollapsed" type="button" class="btn btn-danger dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-menu-down"></span>
						</button>
					</div>
					<div collapse="isCollapsed" class="third-party-login">
						<h4>使用合作网站账号登录：</h4>
						<div class="row">
							<div class="col-xs-4">
								<div class="thumbnail">
									<img src="images/3rd/wx.png">
									<div class="caption text-center">微信</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="thumbnail">
									<img src="images/3rd/wb.png">
									<div class="caption text-center">微博</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="thumbnail">
									<img src="images/3rd/qq.png">
									<div class="caption text-center">QQ</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</tab>
		    <tab heading="注册">
		    	<form class="well form-register" ng-submit="register()">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="请输入手机号" ng-model="userRegisterInfo.login" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="输入密码" ng-model="userRegisterInfo.password" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="确认密码" ng-model="userRegisterInfo.passwordConfirm" required>
					</div>
					<!-- <div class="alert alert-danger" role="alert">
						此功能需服务器端验证
					</div> -->
					<div class="form-group validationCode">
						<div ng-click="sendCode()" class="btn btn-success">
							<span class="glyphicon glyphicon-phone"></span>
							<span>发送短信验证到手机</span>
						</div>
						<div>
							<input type="text" placeholder="请输入手机验证码" ng-model="userRegisterInfo.inputCode" required>
						</div>						
					</div>
					<button type="submit" class="btn btn-primary"><b>注册</b></button>
				</form>
		    </tab>
		</tabset>
		
		 <div class="clearfix appendix">
			<div class="pull-left"> 
				<input type="checkbox" ng-model="isUseLongCookie"> 五天内免登录
			</div>
			<div class="pull-right">
				<a href="">无法登录？</a>
			</div>
		</div>
		
	</div>
</div>