<div ng-controller="LoginCtrl">
	<div id="aa" style="background-color:rgba(255, 0, 0, 1); height:50px; z-index:1020; left:0; right:0">
		aa
	</div>
	
	<div id="bb" style="background-color:rgba(0, 0, 255, 1); height:150px; z-index:1020; left:0; right:0">
		bb
	</div>
	
	<div id="cc" style="background-color:rgb(214, 214, 214); height:950px; z-index:1010; left:0; right:0">
		<div>cc</div>
		<div>cc</div>
		<div>cc</div>
		<div>cc</div>
		<div>cc</div>
		
		<div>cc</div>
		<div>cc</div>
		<div>cc</div>
		<div>cc</div>
		
		<div>cc</div>
		<div>cc</div>
		
		<div>cc</div>
		<div>cc</div>
		<div>cc</div>
		
		<div>cc</div>
		<div>cc</div>
		
		<div>cc</div>
		<div>cc</div>
		
		<div>cc</div>
		<div>cc</div>
		<div>cc</div>
		
		<div>cc</div>
	</div>
	
</div>
