<div class="myApply" ng-controller="MyApplyCtrl">
	<div class="well">
		<ul class="list-group">
		  <li class="list-group-item">
		 	<label>申请加V： 小巴</label>
		  </li>
		  <li class="list-group-item">
		 	<div class="form-group text-center">
		   		 <img src="images/3rd/qq.png" width="80px">
			</div>
		  </li>
		  <li class="list-group-item">
	  		<div class="form-group">
				<label>实际姓名:</label><input type="text" class="form-control" ng-model="profileDetail.realname">
			</div>
			<div class="form-group">
				<label>工作单位:</label><input type="text" class="form-control" ng-model="profileDetail.company">
			</div>
			<div class="form-group">
				<label>联系方式:</label><input type="text" class="form-control" ng-model="profileDetail.contact">
			</div>
			<div class="form-group">
				<label>学历:</label>
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				    	<span ng-show="profileDetail.degree==''">请选择最高学历 </span>
				    	{{profileDetail.degree}}<span class="caret"></span>
				  </button>
					<ul class="dropdown-menu">
					    <li><a href="" ng-click="profileDetail.degree='大学';">大学</a></li>
					    <li><a href="" ng-click="profileDetail.degree='研究生';">研究生</a></li>
					    <li><a href="" ng-click="profileDetail.degree='博士';">博士</a></li>
					    <li><a href="" ng-click="profileDetail.degree='博士后';">博士后</a></li>
				 	 </ul>
				</div> 
			</div>
		  </li>
		   <li class="list-group-item">
	  		 <div class="form-group">
		  		<label>性别: {{profileDetail.gender}}</label>			  	
			</div>
			<div class="form-group">
				<label>地区：{{profileDetail.address}}</label> 
			</div>
			<div class="form-group">
				<label>生日：{{profileDetail.birthday}}</label>
			</div>
		  </li>
		  
		   <li class="list-group-item">
	  		<div class="form-group">
				<button type="submit" class="btn btn-danger">提交申请</button>
			</div>
		  </li>
		  
		</ul>
	</div>
</div>