<div class="profile-detail" ng-controller="ProfileDetailCtrl">
	<div class="well">
		<ul class="list-group">
		  <li class="list-group-item">
		 	<div class="form-group text-center">
		   		 <img ng-src="{{userInfo.imgUrl}}" width="80px">
			</div>
			<div ng-show="{{userInfo.isVIP}}" class="form-group text-center">	  		
	  			<img src="images/user/vip.png" width="30px">	  		
	  		</div>
		  </li>
		  <li class="list-group-item" ng-show="isModify">
			  <div class="form-group">
			  	<div flow-init flow-file-added="uploadImg( $file, $event, $flow)">
			  		<span class="btn btn-info" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">修改头像</span>
			  		<span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">删除</span>
				    <p class="help-block">图片格式仅支持PNG, GIF, JPG</p>
				    <label>预览</label>
				    <div class="thumbnail" ng-show="$flow.files.length" style="width:100px">
					   <img flow-img="$flow.files[0]"/>
					</div>
				</div>
			  </div>
		  </li>
		  
		  <li class="list-group-item">
	  		<div class="form-group">
				<label>昵称：</label>
				<span ng-show="!isModify">{{userInfo.nickName}}</span>
				<input ng-show="isModify" class="form-control" ng-model="userInfo.nickName">
			</div>
		  </li>
		   <li class="list-group-item">
	  		<div class="form-group">
			  	<label>个性签名</label>
			  	<span ng-show="!isModify">{{userInfo.moto}}</span>
			  	<textarea ng-show="isModify" ng-model="userInfo.moto" class="form-control" rows="2" placeholder=""></textarea>
		  	</div>
		  </li>
		  
		   <li class="list-group-item">
	  		 <div class="form-group">
		  		<label>性别</label>
		  		<span ng-show="!isModify">{{userInfo.gender}}</span>
			  	<div class="radio" ng-show="isModify">
				  <label>
				    <input type="radio" value="男" ng-model="userInfo.gender">
				    <span>男</span>
				  </label>
				  <label>
				    <input type="radio" value="女" ng-model="userInfo.gender">
				    <span>女</span>
				  </label>
				</div>
			</div>
		  </li>
		   <li class="list-group-item">
	  		<div class="form-group">
				<label>地区：</label> 
				<span ng-show="!isModify">{{userInfo.address}}</span>
				<input type="text" ng-show="isModify" class="form-control" ng-model="userInfo.address">
			</div>
		  </li>
		  <li class="list-group-item">
	  		<div class="form-group">
				<label>生日：</label>	
				<span ng-show="!isModify">{{userInfo.birthday|date:'yyyy-MM-dd'}}</span>
				<div ng-show="isModify">
					<input type="date" class="form-control" ng-model="userInfo.birthday">
				</div>
			</div>
		  </li>
		   <li class="list-group-item">
	  		<div class="form-group">
				<button ng-show="!isModify" ng-click="isModify=!isModify" type="submit" class="btn btn-primary">修改</button>
				<button ng-show="isModify" ng-click="save()" type="submit" class="btn btn-danger">保存</button>
			</div>
		  </li>
		  
		   <li class="list-group-item">
	  			<div class="form-group">
					<label>我的Pub发布：</label>
					<div ng-repeat="pub in userInfo.pubs" class="pub-history">
						<div class="title clearfix">
							<span class="username"><b>{{userInfo.nickName}}</b></span>
							<span class="pull-right">{{pub.date}}</span></span>
						</div>
						<div class="content">
							<p>
								<span class="label label-primary">{{pub.pubName}}</span>
								<a href="#/stkAnal/{{pub.pubId}}" class="label label-success">查看pub</a>
							</p>
							<p>
								{{pub.desc}}
							<p>
						</div>
					</div>
				</div>
		  </li>
		</ul>
	</div>
</div>