<div class="profile-detail" ng-controller="ProfileDetailCtrl">
	<div class="well">
		<ul class="list-group">
		  <li class="list-group-item">
		 	<div class="form-group text-center">
		   		 <img src="images/home/exp1.png" width="80px">
			</div>
			<div class="form-group text-center">	  		
	  			<img src="images/user/vip.png" width="30px">	  		
	  		</div>
		  </li>
		  <li class="list-group-item">
	  		<div class="form-group">
				<label>昵称：</label>
				<span ng-show="!isModify">{{profileDetail.nickname}}</span>
				<input ng-show="isModify" class="form-control" ng-model="profileDetail.nickname">
			</div>
		  </li>
		   <li class="list-group-item">
	  		<div class="form-group">
			  	<label>个性签名</label>
			  	<span ng-show="!isModify">{{profileDetail.moto}}</span>
			  	<textarea ng-show="isModify" ng-model="profileDetail.moto" class="form-control" rows="2" placeholder=""></textarea>
		  	</div>
		  </li>
		  
		   <li class="list-group-item">
	  		 <div class="form-group">
		  		<label>性别</label>
		  		<span ng-show="!isModify">{{profileDetail.gender}}</span>
			  	<div class="radio" ng-show="isModify">
				  <label>
				    <input type="radio" value="男" ng-model="profileDetail.gender">
				    <span>男</span>
				  </label>
				  <label>
				    <input type="radio" value="女" ng-model="profileDetail.gender">
				    <span>女</span>
				  </label>
				</div>
			</div>
		  </li>
		   <li class="list-group-item">
	  		<div class="form-group">
				<label>地区：</label> 
				<span ng-show="!isModify">{{profileDetail.address}}</span>
				<input type="text" ng-show="isModify" class="form-control" ng-model="profileDetail.address">
			</div>
		  </li>
		  <li class="list-group-item">
	  		<div class="form-group">
				<label>生日：</label>	
				<span ng-show="!isModify">{{profileDetail.birthday|date:'yyyy-MM-dd'}}</span>
				<div ng-show="isModify">
					<input type="date" class="form-control" ng-model="profileDetail.birthday">
				</div>
			</div>
		  </li>
		   <li class="list-group-item">
	  		<div class="form-group">
				<button ng-show="!isModify" ng-click="isModify=!isModify" type="submit" class="btn btn-primary">修改</button>
				<button ng-show="isModify" ng-click="save()" type="submit" class="btn btn-danger">保存</button>
			</div>
		  </li>
		  
		   <li class="list-group-item">
	  			<div class="form-group">
					<label>我的Pub发布：</label>
					<div ng-repeat="n in items" class="pub-history">
						<div class="title clearfix">
							<span class="username"><b>小吧001</b></span>
							<span class="pull-right">2015-06-15</span></span>
						</div>
						<div class="content">
							<p>
								周一的市场仅小幅高开，便再次出现大跌，这就是我们所说的趋势的力量，在逼近4000点时，管理层表态，说明“政策底”已出，但“市场底”会滞后。周一大盘一度击破4000大关，跌到我们前期提示的调整极限3856-3886区域，随即止跌回升，收在4000之上。经过千点暴跌后，我们认为这波调整空间基本达到，虽然时间上还不够，但底部区域已初步显现。
							<p>
						</div>
					</div>
				</div>
		  </li>
		</ul>
	</div>
</div>