<div class="profile-detail" ng-controller="ProfileDetailCtrl">
	<div class="well">
		<ul class="list-group">
		  <li class="list-group-item">
		 	<div class="form-group text-center">
		   		 <img src="images/home/exp1.png" width="80px">
			</div>
		  </li>
		  <li class="list-group-item">
	  		<div class="form-group">
				<label>昵称：</label>GGG
			</div>
		  </li>
		   <li class="list-group-item">
	  		<div class="form-group">
			  	<label>个性签名</label>
			  	<textarea class="form-control" rows="2" placeholder=""></textarea>
		  	</div>
		  </li>
		  
		   <li class="list-group-item">
	  		 <div class="form-group">
		  		<label>性别</label>
			  	<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				    <span>男</span>
				  </label>
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				    <span>女</span>
				  </label>
				</div>
			</div>
		  </li>
		   <li class="list-group-item">
	  		<div class="form-group">
				<label>地区：</label> <input type="text" class="form-control">
			</div>
		  </li>
		  <li class="list-group-item">
	  		<div class="form-group">
				<label>生日：</label>	<input type="date" class="form-control">
			</div>
		  </li>
		   <li class="list-group-item">
	  		<div class="form-group">
				<button type="submit" class="btn btn-primary">修改</button>
				也可不显示。 为展示用，修改按钮和用户细节放在一起
			</div>
		  </li>
		  
		   <li class="list-group-item">
	  			<div class="form-group">
					<label>我的Pub发布：</label>
					<div ng-repeat="n in items" class="pub-history">
						<div class="title clearfix">
							<span class="username"><b>小吧001</b></span>
							<span class="pull-right">2015-06-15</span></span>
						</div>
						<div class="content">
							<p>
								周一的市场仅小幅高开，便再次出现大跌，这就是我们所说的趋势的力量，在逼近4000点时，管理层表态，说明“政策底”已出，但“市场底”会滞后。周一大盘一度击破4000大关，跌到我们前期提示的调整极限3856-3886区域，随即止跌回升，收在4000之上。经过千点暴跌后，我们认为这波调整空间基本达到，虽然时间上还不够，但底部区域已初步显现。
							<p>
						</div>
					</div>
				</div>
		  </li>
		</ul>
	</div>
</div>