		<div style="margin-top:5px;" class="alert alert-success" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
				<label>前台进展</label>
				<p>
					由于项目进度需要，目前打算把重点放在功能及接口上. 目前还暂时没有时间把接口和数据结构定义出来。 
					计划：<br/>
					1. 主要页面展示（即将完成）<br/>
					2. 过一遍页面细节（仅限于最基本的页面显示，无美工和优化）<br/>
					3. 与@江伟 合作 定义接口，a)一页一页做, 同时优化页面及代码 或者 b)统一定义接口，前台做mock数据，后台开发。 可一个模块一个模块整合<br/>
					4. 整体优化<br/>
				</p>
		</div>