		<div style="margin-top:5px;" class="alert alert-success" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
				<label>前台进展</label>
				<p>
					由于项目进度需要，目前打算把重点放在功能及接口上. 目前还暂时没有时间把接口和数据结构定义出来。 
					计划：<br/>
					1. 主要页面展示（即将完成）<br/>
					2. 过一遍页面细节（仅限于最基本的页面显示，无美工和优化）<br/>
					3. 与@江伟 合作 定义接口，a)一页一页做, 同时优化页面及代码 或者 b)统一定义接口，前台做mock数据，后台开发。 可一个模块一个模块整合<br/>
					4. 整体优化<br/>
				</p>
				
				<br/><br/>
				<label>各个页面进展</label>
				<div class="well">
					<label>登陆页</label>
					<p>
						UI内容基本OK，
						<br>验证码，需要后台验证。目前仅是6位随机数字 (UI ok，等待API)
						<br>登陆页面，注册页面，第三方登陆（仅限于UI） (UI OK，等待API)
					</p>	
				</div>
				
				<div class="well">
					<label>发现页</label>
					<p>
						UI内容基本OK，
						<br>a. 搜索（全部/找股票/找小巴/找新闻）(UI OK 等待API)
						<br>b. 显示pub list（目前按照更新时间排序） (UI ok 等待API)
						<br>c. 点击某个pub，进入coverpage (UI 链接 临时ok 等待API)
						<br>d. 创建新的pub (UI 链接临时OK。 等待API)
					</p>	
				</div>
				
				<div class="well">
					<label>创建新Pub页</label>
					<p>
						UI内容基本OK，
						<br>a. 选择股票 (UI OK 等待API)
						<br>b. 上传图片（可以不上传，用default图片
						
						<span style="color:red">(UI NOK, 未完成)</span>
						
						<br>c. 写一段概述(UI OK 等待API)
						<br>d. 小巴可以选择收费（3档：每周1/5/10元），一般用户的pub都是免费(UI OK 等待API)
						<br>e. 点击创建进入timeline页(UI链接临时OK 等待API)
					</p>	
				</div>
				
				<div class="well">
					<label>其他临时</label>
					<p>
						<br>疑问：已购买， 是购买tip？还是购买pub？如果是已购买tip/pub，为何还要访问coverpage？
						<br>目前K线图只在手机端运行良好 适用于竖版手机。 Desktop不适用
						<br>
					</p>	
				</div>
				
		</div>