<div class="container-fluid stock-analysis" ng-controller="StockAnalysisCtrl">
	<div class="stock-graph-block">
		<div class="row">
			<div class="col-xs-4 revenu-block-left">
				<div >{{pubInfo.stockPrice}}</div>
				<div >{{pubInfo.chgVal}} {{pubInfo.chgPct}}%</div>
				<div >{{pubInfo.today|date:'yyyy-MM-dd'}}</div>
			</div>
			
			<div class="col-xs-4 text-center revenu-block-center">
				<span>总收益 ( 创建于 {{pubInfo.createDate}}) </span>
				<div style="">{{pubInfo.totalProfit}}%</div>
			</div>
			
			<div class="col-xs-4 revenu-block-right">
				<div>
					<!-- 修改预测 -->
					<p>
						<a ng-show="pubInfo.isOwner" href="">
							<span ng-show="prediction==null" ng-click="editPrecidtion()"><span class="glyphicon glyphicon-plus-sign" style="padding-right:2px"></span>发布预测</span>
							<span ng-show="prediction!=null" ng-click="editPrecidtion()"><span class="glyphicon glyphicon-pencil" style="padding-right:2px"></span>修改预测</span>
						</a>
					</p>
					
					<!-- 查看预测-->
					<p>
						<a href="">
							<span popover-template="predictPopover.templateUrl" popover-title="{{predictPopover.title}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-eye-open"></span> 查看预测</span>
						</a>
					</p>
					<!-- 选择新闻 -->
					<p>
						<a ng-show="pubInfo.isOwner" href="" ng-click="manageNews()">
							<span><span class="glyphicon glyphicon-globe"></span> 选取新闻</span>
						</a>
					</p>
				</div>
			</div>
			<div class="col-xs-12 chart">
				<nvd3 options="options"
			      data="graphData"
			      config="config"
			      events="events">
			    </nvd3>
			</div>
		</div>
	</div>
	
	<div class="row stock-gushen-comment">
		<div class="col-xs-3 col-md-3 col-md-2 col-lg-1 text-center">
			<div><img style="width:60px;" ng-src="{{pubInfo.ownerImg}}" ng-click="gotoProfile()"></div>
			<div class="user-star">
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star"></span>
			</div>
			
		</div>
		<div class="col-xs-9 col-md-9 col-md-10 col-lg-11">
			<div class="title clearfix">
				<span class="username"><b>{{pubInfo.owner}}</b></span>
				<div class="pull-right">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					<span style="font-size:12px">{{pubInfo.totalLikes}} 个赞</span>
					<p>
						<span ng-show="pubInfo.isFavorite" class="label label-default" style="padding:2px 10px;" disabled>已收藏此pub</span>
						<button ng-show="!pubInfo.isFavorite" ng-click="addToFav()" class="btn btn-success" style="padding:2px 10px;">加入收藏</button>
					</p>
				</div>
			</div>
			<div class="content">
				<p>
					{{pubInfo.desc}}
				<p>
			</div>
		</div>
	</div>
	
	<div style="margin-top:25px;" ng-show="pubInfo.tips.length==0" class="well">
	  <div class="text-center">
	   		<h3>无可用股票评论</h3>
	  </div>
	</div>
	<div class="row announcement-timeline">
		<div ng-repeat="news in pubInfo.news"> <!-- ng-repeat -->
			<div class="header col-xs-12">
				<span class="icon glyphicon glyphicon-volume-up"></span>
				<span class="time">{{news.newsDate}}</span><br>
			</div>
			<div class="col-xs-12 timeline-content-block">
				<div class="content">
					<div>
						<a href="#/newsContent/{{news.newsId}}"><span>点击查看新闻全文</span></a><br>
						<b>{{news.newsTitle}}</b> 
						<pre>{{news.newsAbstract}}</pre>
					</div>
				</div>
				<button class="btn btn-danger btn-small form-control" ng-click="addTip(news)" ng-show="pubInfo.isOwner">
					<span class="glyphicon glyphicon-plus-sign"></span> 对此咨询添加评述
				</button>
				<div class="gushen-comment-block clearfix" ng-repeat="tip in news.tips">
					<div class="pull-left" ng-click="gotoProfile()"><img style="width:50px; margin-right:5px" ng-src="{{pubInfo.ownerImg}}"></div>
					<div class="clearfix" style="padding:10px">
						<b>{{pubInfo.owner}}</b>
						<span ng-show="pubInfo.isOwner" class="bg-info" style="padding:2px; font-size:10px;">最后<a href="#/history/tip/{{tip.tipId}}">修改于</a>{{tip.lastModifiedTime}}</span>
						<p>
							<!-- <button ng-show="!pubInfo.available" class="btn btn-info btn-small" ng-click="visitOrBuyPub(tip)">
								<span>购买此Pub</span>
							</button> -->
							<button ng-show="pubInfo.isOwner" class="btn btn-danger btn-small" ng-click="modifyTip(tip)">
								<span ng-if="tip.isModifyTip">保存修改</span>
								<span ng-if="!tip.isModifyTip">修改Tip</span>
							</button>
						</p> 
						<textarea ng-show="tip.isModifyTip" rows="4" style="width:100%; border-radius:4px; margin-bottom:15px;" ng-model="tip.tipContent"></textarea>
					</div>
					<div ng-show="!tip.isModifyTip">
						<pre>{{tip.tipContent}}</pre>
					</div>
					<div class="clearfix share-block">
						
						<div class="pull-right">
							<span ng-click="addComment(tip, 1)" style="margin-right:5px" class="label label-danger">
								<span class="glyphicon glyphicon-arrow-up"></span>
								<span>赞 {{tip.nbLikes}} </span>
							</span>
							<span ng-click="addComment(tip, 0)" style="margin-right:5px" class="label label-default">
								<span class="glyphicon glyphicon-arrow-down"></span>
								<span>踩 {{tip.nbDislikes}}</span>
							</span>
							<span ng-click="gotoComment(tip)" style="margin-right:5px" class="label label-primary">
								相关评论 {{tip.nbComments}}
							</span>
						
							<button class="btn btn-success btn-small" ng-click="tip.isCollapsedShare=!tip.isCollapsedShare">分享到朋友圈</button>
							
							
							<!-- 保留 -->
							<!--  
							<button  ng-click="gotoComment(tip)" class="btn btn-default">
								<span class="glyphicon glyphicon-thumbs-up" style="padding-right:2px"></span>
								<span class="glyphicon glyphicon-thumbs-down" style="padding-right:2px"></span>
							</button>
							 -->

							<!-- 临时保存 评论下拉
							<button  ng-click="tip.isCollapsedCmt = !tip.isCollapsedCmt" class="btn btn-default">
								<span class="glyphicon glyphicon-thumbs-up" style="padding-right:2px"></span>{{tip.nbLikes}} 
								<span class="glyphicon glyphicon-thumbs-down" style="padding-right:2px"></span>{{tip.nbDislikes}}
							</button>
							 -->
							<!-- <button class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up" style="padding-right:2px"></span> 234</button> -->
						</div>
						<div collapse="tip.isCollapsedShare" class="pull-right user-comments">
							<button class="btn"><img width="25px" src="images/3rd/qq.png"></button>
							<button class="btn"><img width="25px" src="images/3rd/wb.png"></button>
							<button class="btn"><img width="25px" src="images/3rd/wx.png"></button>
						</div> 
						
					</div>
					
					<!-- 临时保存 评论下拉
						<div collapse="tip.isCollapsedCmt" class="user-comments">
							<div ng-repeat="cmt in tip.comments.likes">
								<div class="col-xs-12">
									<div>
										<span class="glyphicon glyphicon-thumbs-up" style="color:red"></span>
										<img ng-src="{{cmt.userImg}}" style="width:25px;">
										<span><b>{{cmt.username}}</b></span>
										<span>[{{cmt.time}}]</span>
									</div>
									<div>
										<p style="padding-left:50px">{{cmt.cmt}}</p>
									</div>
								</div>
							</div>
							<div ng-repeat="cmt in tip.comments.dislikes">
								<div class="col-xs-12">
									<div>
										<span class="glyphicon glyphicon-thumbs-down" style="color:green"></span>
										<img ng-src="{{cmt.userImg}}" style="width:25px;">
										<span><b>{{cmt.username}}</b></span>
										<span>[{{cmt.time}}]</span>
									</div>
									<div>
										<p style="padding-left:50px">{{cmt.cmt}}</p>
									</div>
								</div>
							</div>
						</div>
					 -->		
					
				</div>
			</div><!-- timeline-content-block -->
		</div><!-- ng-repeat -->
		
	</div><!-- row -->
</div>