<div class="container-fluid stock-analysis" ng-controller="StockAnalysisCtrl">
	<div class="stock-graph-block">
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 revenu-block-left">
				<div >16.68</div>
				<div >0.16 1.01%</div>
				<div >2015-06-04</div>
			</div>
			
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center revenu-block-center">
				<span>总收益 ( 创建于 2015-06-12) </span>
				<div style="">138%</div>
			</div>
			
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 revenu-block-right">
				<a href="">
					<span class="glyphicon glyphicon-pencil"></span> 
					<span ng-show="prediction==null" ng-click="openModal()" style="padding-right:2px">发布预测</span>
					<span ng-show="prediction!=null" ng-click="openModal()" style="padding-right:2px">修改预测</span>
				</a>
				<div>
					<a href="">
						<span popover="{{predictPopover.content}}" popover-trigger="mouseenter" popover-placement="left"><span class="glyphicon glyphicon-eye-open"></span> 预测解释 </span>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chart">
				<nvd3 options="options"
			      data="data"
			      config="config"
			      events="events"
			      api="api">
			    </nvd3>
			</div>
		</div>
	</div>
	
	<div class="row stock-gushen-comment">
		<div class="col-xs-3 col-md-3 col-md-2 col-lg-1 text-center">
			<div><img src="images/home/gushen.png" ng-click="gotoProfile()"></div>
			<div class="user-star">
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star"></span>
			</div>
			
		</div>
		<div class="col-xs-9 col-md-9 col-md-10 col-lg-11">
			<div class="title clearfix">
				<span class="username"><b>{{pubInfo.owner}}</b></span>
				<span class="pull-right glyphicon glyphicon-thumbs-up"><span>2,220</span></span>
			</div>
			<div class="content">
				<p>
					{{pubInfo.desc}}
				<p>
			</div>
		</div>
	</div>
	
	<div class="row announcement-timeline">
		<div ng-repeat="item in pubInfo.tips"> <!-- ng-repeat -->
			<div>
				<span class="icon glyphicon glyphicon-volume-up"></span>
				<span class="time">{{item.newsDate}}</span>
			</div>
			<div class="col-xs-12 col-md-12 col-md-12 col-lg-12 timeline-content-block">
				<div class="content">
					<p>
						<b>{{item.newsTitle}}</b> 
						<pre>
							{{item.newsContent}}
						</pre>
					</p>
					<p class="bg-info">最后<a href="#/history/tip/{{item.tipId}}">修改于</a>{{item.lastModifiedTime|date:'yyyy-MM-dd HH:mm'}}</p>
				</div>
				<div class="gushen-comment-block clearfix">
					<div class="pull-left" ng-click="gotoProfile()"><img width="60%" src="images/home/gushen.png"></div>
					<div class="clearfix">
						<b>{{pubInfo.owner}}</b>
						<p>
							<button class="btn btn-info btn-small" ng-click="visitOrBuyPub(item)">
								<span ng-show="pubInfo.available">访问Pub tip</span>
								<span ng-show="!pubInfo.available">购买Pub tip</span>
							</button>
							<button class="btn btn-danger btn-small" ng-click="modifyTip(item)">
								<span ng-if="item.isModifyTip">保存修改</span>
								<span ng-if="!item.isModifyTip">修改Tip</span>
							</button>
						</p> 
						
						<div ng-show="!item.isModifyTip">{{item.tipContent}}</div>
						<textarea ng-show="item.isModifyTip" class="form-control" ng-model="item.tipContent"></textarea>
						<p collapse="item.isCollapsedShare" class="user-comments">
							<button class="btn"><img width="25px" src="images/3rd/qq.png"></button>
							<button class="btn"><img width="25px" src="images/3rd/wb.png"></button>
							<button class="btn"><img width="25px" src="images/3rd/wx.png"></button>
						</p> 
						
						<div class="pull-right">
							<button class="btn btn-default btn-small" ng-click="item.isCollapsedShare=!item.isCollapsedShare">分享到朋友圈</button>
							<button  ng-click="item.isCollapsedCmt = !item.isCollapsedCmt" class="btn btn-default"><span class="glyphicon glyphicon-comment" style="padding-right:2px"></span> 24</button>
							<!-- <button class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up" style="padding-right:2px"></span> 234</button> -->
						</div>
					</div>
					<div collapse="item.isCollapsedCmt" class="user-comments">
							<p>comment1</p>
							<p>comment1</p>
							<p>comment1</p>
							<p>comment1</p>
					</div>
				</div>
			</div><!-- timeline-content-block -->
		</div><!-- ng-repeat -->
		
	</div><!-- row -->
</div>