<div>
        <div class="modal-header">
            <h4 class="modal-title">添加评论</h4>
        </div>
        <div class="modal-body">
            <div class="well form">
            	<textarea class="form-control" rows="5" placeholder="请输入评论" ng-model="commentInfo.content"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="add()">创建</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
</div>