.buyPub-block .user-star{
	font-size:8px;
	color:blue;
	margin-top:3px;
}
.buyPub-block .outline{
	border-bottom:1px solid #ccc;
}
.buyPub-block .user-comments{
	font-size:8px;
	padding:5px;
	border-bottom:1px solid #ccc;
}
.buyPub-block .report{
	font-size:10px;
	padding:15px;
	margin:15px;
	border-bottom:1px solid #ccc;
}

.buyPub-buy-resume span{
	font-size:10px;
}
.buyPub-buy-resume div{
	color:red;
	font-weight:700;
	font-size:28px;
}

.buyPub-buy-action .btn{
	padding:2px 5px;
	font-size:12px;
}
.buyPub-buy-action span{
	font-size:10px;
}

/*payment*/
.payment .thumbnail{
	padding:10px;
}
.payment .btn{
	padding:2px 8px;
}
