
.app-home-search{
	padding: 0px 1px 0px 1px;
	margin-top:5px;
}
.app-home-search .upload-image-block .btn{
	font-size:25px;
	padding:0px 5px;
	border-color:transparent;
}

.app-home-thumbnails{
	padding: 10px;
	font-size:12px;
}
.app-home-thumbnails .thumbnail-desc .profit{
	margin-top:10px;
	font-size:18px;
	color:red;
	font-weight:900;
}

/*responsive desing*/
@media screen and (max-width:600px){
	.app-home-search .upload-image-block{
		right:20px;
		bottom:2px
	}
}