
.app-home-search{
	padding: 0px 1px 0px 1px;
	margin-top:15px;
}
.app-home-search .upload-image-block .btn{
    -moz-box-shadow: 0 0 6px -1px #999;
    -webkit-box-shadow: 0 0 6px -1px #999;
	font-size:14px;
	border-color:transparent;
	padding:4px;
	margin-top:2px;
}

.app-home-thumbnails{
	padding: 10px;
	font-size:12px;
}

.app-home-thumbnails .thumbnail{
	-moz-box-shadow: 0 8px 5px 0 #999;
	-webkit-box-shadow: 0 8px 5px 0 #999;
}

.app-home-thumbnails [class^="col-"]{
	padding:2px;
}

.app-home-thumbnails .thumbnail-desc .profit{
	margin-top:10px;
	font-size:18px;
	color:red;
	font-weight:900;
}

/*responsive desing*/
@media all and (max-width:600px){
	.app-home-search .upload-image-block{
		right:25px;
	}
}