body{
	padding:2px;
}
.body-content{
	padding-top:5px;
}
/**font family**/
input, p, div, span{
    font-family: Tahoma, Geneva, 'Heiti SC', 'Microsoft Yahei', 'Simsun'
}

[class*="glyphicon-"]:before{
	padding:1px;
}

.img-with-border{
	border:5px solid rgb(250, 245, 245);
}

/**padding**/
