<div class="prediction-modal">
       <div class="modal-header">
           <h4 class="modal-title">添加修改股票预测</h4>
       </div>
      <div class="modal-body">
      	<div class="prediction">
      		<div class="first-level-title">
    			<span class="glyphicon glyphicon-stats"></span>
    			<span>股价预测</span>
      		</div>
      		<span class="bg-info" ng-show="prediction.lastModifiedTime!=null" style="padding:5px 10px">
      			最后<a ng-click="gotoHistoryPage(prediction.pubId)">修改于</a>{{prediction.lastModifiedTime|date:'yyyy-MM-dd HH:mm:ss'}}
      		</span>
      		
      		<div>
	      		<div class="clearfix block-time">
		      		<p class="pull-left second-level-title"><span class="time">时间</span></p>
		               <div class="form-group">
					  	<div class="radio">
						  <label>
						    <input type="radio" ng-model="prediction.time" value="1" >
						    <span>1天</span>
						  </label>
						  <label>
						    <input type="radio" ng-model="prediction.time" value="7">
						    <span>1周</span>
						  </label>
						   <label>
						    <input type="radio" ng-model="prediction.time" value="14">
						    <span>2周</span>
						  </label>
						  <label>
						    <input type="radio" ng-model="prediction.time" value="30">
						    <span>1月</span>
						  </label>
						   <label>
						    <input type="radio" ng-model="prediction.time" value="90">
						    <span>3月</span>
						  </label>
						  <label>
						    <input type="radio" ng-model="prediction.time" value="180">
						    <span>半年</span>
						  </label> 
						</div>
					</div>
	      		</div>
	      		
	      		<div class="clearfix">
		      		<p class="pull-left second-level-title">涨跌幅</p>
		      		<div class="input-group pull-left compare-block">
					  <span class="input-group-addon">最低</span>
					  <input type="text" class="form-control" ng-model="prediction.minVal">
					  <span class="input-group-addon">￥</span>
					</div>
					<span class="glyphicon glyphicon-menu-right pull-left sticker"></span>
					<div class="input-group pull-left compare-block">
					  <span class="input-group-addon">最高</span>
					  <input type="text" class="form-control" ng-model="prediction.maxVal">
					  <span class="input-group-addon">￥</span>
					</div>
					
		      		<div class="input-group pull-left compare-block">
					  <span class="input-group-addon">最低</span>
					  <input type="text" class="form-control" ng-model="prediction.minPct">
					  <span class="input-group-addon">%</span>
					</div>
					<span class="glyphicon glyphicon-menu-right pull-left sticker"></span>
					<div class="input-group pull-left compare-block">
					  <span class="input-group-addon">最高</span>
					  <input type="text" class="form-control" ng-model="prediction.maxPct">
					  <span class="input-group-addon">%</span>
					</div>
	      		</div>	
      		</div>
      	</div>
      	
      	<div class="remark">
      		<div class="first-level-title">
      			<span class="glyphicon glyphicon-edit"></span>
      			<span>备注</span>
      		</div>
      		<div>
      			<div class="well">
					<textarea class="form-control" rows="8" ng-model="prediction.cmt"></textarea>
				</div>
      		</div>
      	</div>
			
      </div>
      <div class="modal-footer">
      	  <button class="btn btn-warning" ng-show="!isPredictionNew" ng-click="edit()">保存修改</button>
      	  <button class="btn btn-danger" ng-show="isPredictionNew" ng-click="add()">创建</button>
          <button class="btn btn-primary" ng-click="cancel()">关闭</button>
      </div>
	
</div>