<div class="mybought" ng-controller="MyBoughtCtrl">
	<div class="container-fluid">
		<div class="form-group">
	  		<label>购买历史</label>
	  	</div>
	  	<div ng-show="userBoughts.length==0">
	  		<label>无购买记录</label>
	  	</div>
	  	
		<ul class="list-group tips">
		  <li ng-repeat="item in userBoughts" class="list-group-item">
		  	<div class="bg-primary title text-right">
		  		{{item.time}}
		  	</div>
		  	<div class="bg-info content">
		  		<p>购买了<a href="#/stkAnal/{{item.pubId}}">{{item.pubName}}</a>, 花费 {{item.price}}元</p>
		  	</div>
		  </li>
		 </ul>
	</div>
	
</div>