<div class="mypub" ng-controller="MyFavoriteCtrl">
	<div class="mypub-thumbnails">	
		<ul class="list-group tips">
	  		<li class="list-group-item">
			  	<label><span style="color:blue" class="glyphicon glyphicon-star"></span> 我的收藏</label>
	  		</li>
	  		<li class="list-group-item">
			  	<div class="row">
			 		<div ng-repeat="pub in userPubs" class="col-xs-6 col-md-3">
			 		 	<div class="thumbnail" ng-click="goToCoverPage(pub)">
			 		 		<div class="thumbnail-header caption">
			    				<span class="">{{pub.pubName}}</span>
			    				<span ng-show="!pub.available" class="glyphicon glyphicon-lock" style="color:red"></span>
			    				<span class="pull-right glyphicon glyphicon-thumbs-up"><span>{{pub.likes}}</span></span>
			    			</div>
			    			<a><img class="thumbnail-image" style="width:170px; height:170px" ng-src="{{pub.imgUrl}}" alt="..."></a>
			    			<div class="thumbnail-desc caption clearfix">
			    				<div class="pull-left">
			    					<div class="moto">
			    						<span>{{pub.moto}}</span>
		    						</div>
				    				<div class="user">
				    					<span>{{pub.owner}}</span>
				    				</div>
			    				</div>
			    				<div class="profit pull-right">
			    					<span>{{pub.stats}}%</span>
			    				</div>
			    			</div>
				   		</div>
			 		</div>
				</div><!-- row -->
	  		</li>
	 	</ul>
	</div><!-- mypub-thumbnails -->
</div>