		<div style="margin-top:5px;" class="alert alert-success" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
				<label>API进展</label>
				<p>
					由于项目进度需要，目前把重点放在功能及接口上. 无美工和优化
				</p>
				
				<br/><br/>
				<label>各个API进展及数据结构定义</label>
				<div class="well">
					<label>登陆页</label>
					<p>
					</p>	
				</div>
				
				<div class="well">
					<label>发现页</label>
					<p>
					</p>
				</div>
				
				<div class="well">
					<label>创建新Pub页</label>
					<p>
					</p>	
				</div>
				<div class="well">
					<label>Timeline页</label>
					<p>
					</p>	
				</div>
				<div class="well">
					<label>预测发布页</label>
					<p>	
					</p>	
				</div>
				<div class="well">
					<label>修改历史页面</label>
					<p>
					</p>	
				</div>
				
				<div class="well">
					<label>其他临时</label>
					<p>
					</p>	
				</div>
				
		</div>