<div style="margin-top: 5px;" class="api-progress alert alert-success" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<label>API进展</label>
	<p>
		<label class="label label-danger">NEW !!</label> Timeline页 <br>
		<label class="label label-danger">NEW !!</label> 动态页<br>
		<label class="label label-danger">NEW !!</label> 用户讨论页<br>
	</p>
	
	
	<br /> <label>各个API进展及数据结构定义</label>
	
	
<accordion close-others="true">

																							<!-- 登录页 -->
<!-- ============================================================================================================================================================= -->																						
<accordion-group>
<accordion-heading>
<button class="btn btn-info btn-sm">登录页</button>
</accordion-heading>
<div class="well">
<label>登陆页</label>
																							<!-- 手机号验证 -->
	<div>																					
	<span class="label label-default">手机号验证</span>，						
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/util/checkphone
	<pre>
	{
		"cellphone":"1367xxx88xx"
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success" / "fail", //功能上的
		"reason":null / "错误原因"
	}
	</pre>
	</div>
		
																							<!-- 获取验证码 -->
	<div>			
	<span class="label label-default">获取验证码</span>，需要后台随机给出
	<br>Request: 
	<br><label class="label label-primary">GET</label> http://123.57.210.176/util/getcaptcha
	<br>Response:
	<pre>
		直接给出图片
	</pre>
	</div>
	
																							<!-- 发送短信激活码-->
	<div>
	<span class="label label-default">发送短信激活码</span>																	
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/util/sendcode
	<pre>
	{
		"cellphone":"1367xxx88xx"
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", / "fail"//功能上的
		"reason": null / "错误原因"
	}
	</pre>
	</div>
	
																							<!-- 登录-->
	<div>
	<span class="label label-default">登陆</span>																			
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/user/login
	<pre>
	{
		"login":("dellgcy",/"qq"/"cellphone" ):用户只搜索username, 但可以是手机，qq，或者自定义名称. 
		手机号验证可能是后台/util/checkphone
		"password":"toto", 
		"captcha":"PNRY88"（随机验证码）
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success" / "fail", //功能上的
		"reason": null / "错误原因",
		"sessionId":"IUWID987398OSI", / null(如果fail), 
		"isVIP": true / false  //是否为加V用户
	}
	</pre>
	</div>
	
	
																							<!-- 注册-->
	<div>
	<span class="label label-default">注册</span>																				
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/user/reg
	<pre>
	{
		"login":("dellgcy",/"qq"/"cellphone" ):用户可以用手机，qq，或者自定义名称登陆,
		"password":"toto"
		"code":"PN7YIS8I" (短信激活码)
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success" /"fail", //功能上的
		"reason": null / "错误原因", 
		"sessionId":"IUWID987398OSI" / null(如果fail), 
		"isVIP": true / false  //是否为加V用户
	}
	</pre>
	</div>
	
	
																							<!-- 登出-->
	<div>
	<span class="label label-default">登出</span>																				
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/user/logout
	<pre>
	{
		"sessionId":"IUWID987398OSI" / null(如果fail)
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success" / "fail", //功能上的
		"reason": null / "错误原因"
	}
	</pre>
	</div>
	
	
																							<!-- 找回密码-->
	
	<div>
	<span class="label label-default">找回密码</span>								
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/user/findpwd
	<pre>
	<span class="label label-warning">未完待续。。</span>
	</pre>
	</div>
	
																							<!-- 重置密码-->
	
	<div>
	<span class="label label-default">重置密码</span>																			
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/user/resetpwd
	<pre>
	<span class="label label-warning">未完待续。。</span>
	</pre>
	</div>
	
</div>		
</accordion-group>		
		
																						<!-- 发现页-->		
<!-- ============================================================================================================================================================= -->
<accordion-group heading="Static Header, initially expanded">
<accordion-heading>
<button class="btn btn-info btn-sm">发现页</button>
</accordion-heading>
<div class="well">
<label>发现页</label>

																						<!-- 搜索 -->

	<div>
	<span class="label label-default">搜索</span>，
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/util/search
	<pre>
	{
		"sessionId":"IUWID987398OSI" //关联用户, 
		"keyword":"中国重车 06160" //可随意关键词
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success" / "fail", //功能上的
		"reason":null / "错误原因（功能上）"
		"pubs":[
			{
				"pubId":12, 
				"available":true //根据用户信息+pub信息 ，是否可看， 如免费，非免费但付款，非免费未付款
				"pubName":"孤注一掷", 
				"likes":3890, //总体点赞 
				"desc":"maybeza", 
				"stats":"138",// -24 盈利率 
				"owner":"小巴", 
				"imgUrl":"images/toto.png", //图像地址， （要由服务器给出）
				"lastUpdate":"2015-06-07 11:58" //最近一次更新时间
			}, 
			{	
				"pubId":5, 
				"available":false
				"pubName":"孤注一掷", 
				"likes":3890, //总体点赞 
				"desc":"maybeza", 
				"stats":"138",// -24 盈利率 
				"owner":"小强", 
				"imgUrl":"images/toto.png", //图像地址（要由服务器给出）
				"lastUpdate":"2015-06-07 11:58"
			}
		]
		
	}
	</pre>
	</div>
	
																							<!-- pub 列表-->
	
	<div>																					
	<span class="label label-default">pub 列表（未搜索时自动推荐）</span>，
	<br>Request:
	<br><label class="label label-primary">POST</label> http://123.57.210.176/util/pubs
	<pre>
	{
		"sessionId":"IUWID987398OSI" //关联用户  根据用户信息 推荐显示pubs
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success" / "fail", //功能上的
		"reason":null / "错误原因（功能上）"
		"pubs":[
			{
				"pubId":12, 
				"available":true //根据用户信息+pub信息 ，是否可看， 如免费，非免费但付款，非免费未付款
				"pubName":"孤注一掷", 
				"likes":3890, //总体点赞 
				"desc":"maybeza", 
				"stats":"138",// -24 盈利率 
				"owner":"小巴" , 
				"imgUrl":"images/toto.png" //图像地址 （要由服务器给出）
			}, 
			{	
				"pubId":5, 
				"available":false
				"pubName":"孤注一掷", 
				"likes":3890, //总体点赞 
				"desc":"maybeza", 
				"stats":"138",// -24 盈利率 
				"owner":"小强", 
				"imgUrl":"images/toto.png" //图像地址（要由服务器给出）
			}
		]
		
	}
	</pre>
	</div>
			
</div>
</accordion-group>

																							<!-- 创建新PUB页-->
<!-- ============================================================================================================================================================= -->
<accordion-group heading="Static Header, initially expanded">
<accordion-heading>
<button class="btn btn-info btn-sm">新建PUB页</button>
</accordion-heading>
<div class="well">
<label>创建新Pub页</label>

																							<!-- 股票下拉列表 -->																			
	<div>
	<span class="label label-default">股票下拉列表</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/stocks
	<pre>
	{
		"keyword":"中国重车" //关键词
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", 
		"reason":null, 
		"stocks":[
			{
				"name":"中国石油",
				"code":"06160", 
				"id":12329
			},
			{
				"name":"中国石油",
				"code":"06160", 
				"id":12330
			}
		]
	}
	</pre>
	</div>
	
	
																							<!-- 上传图片-->
	
	<div>
	<span class="label label-default">上传图片</span>											
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/upload/img
	<pre>
	<span class="label label-warning">发送base64数据</span>
	</pre>
	</div>
	
																							<!-- 发布pub-->
	<div>
	<span class="label label-default">发布pubs</span>
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/pubs/add
	<pre>
	{
		"sessionId":"IUWID987398OSI" //关联用户
		"stockId":12329, 
		"type":1, //商品类型 1 股票
		"imageData": null(预设), 
		或者base64数据, 如 data:<span class="label label-warning">发送base64数据</span>
		"desc":"一段描述", 
		"price":0, //1, 5, 10, 0: 1元/周
		"pubName":"孤注一掷"
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", / "fail"//功能上的
		"reason": null / "错误原因", 
		"pubId":12, //新建的
		"sessionId":"IUWID987398OSI" //关联用户
		"stockId":12329, 
		"type":1, //商品类型 1 股票
		"imageUrl": "../images/pub1.png"// 图片地址 （要由服务器给出）
		"desc":"一段描述", 
		"price":0, //1, 5, 10, 0: 1元/周
		"pubName":"孤注一掷"
	}
	</pre>
	</div>

			
</div>
</accordion-group>		
		
																				<!-- timeline 页-->
<!-- ============================================================================================================================================================= -->
<accordion-group heading="Static Header, initially expanded">
<accordion-heading>
<button class="btn btn-info btn-sm">timeline页</button>
</accordion-heading>
<div class="well">
<label>Timeline页</label>

																				<!-- pub(timeline中) 细节-->
	<div>																			
	<span class="label label-default">pub细节相关</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/pubs/timeline/get
	<pre>
	{
		 "sessionId":"IUWID987398OSI", //关联用户
		 "pubId":15, //关联pub
	 }
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", 
		"reason": null, 
		"timelineInfo":{
			"pubId":1, 
			"createDate":"2015-06-04", 
			"stockId":123, 
			"stockName": "中石油",
			"stockCode": "06160",
			"desc":"一段关于此pub的自我评价", 
			"ownerId":1, 
			"owner":"股神小白", 
			"isOwner":true,
			"isFavorite":false,
			"ownerImg":"images/home/gushen.png", 
			"totalLikes":289, 
			"totalProfit": 138, 
			"stockPrice":16.68, 
			"chgVal": 0.16, 
			"chgPct": 1.01, 
			"news":
			[
				{
					"newsId":1, 
					"newsTitle":"消息称国务院将特批银行持券商牌照试点", 
			    	"newsDate":"2015-09-09",
			    	"newsAbstract":"伴随着银行混合所有制改革拉开大幕，混业经营备受关注，放开券商牌照的问题如一把悬在头上的达摩克利斯之剑。日前..."		
					"tips":
					[
						{
						      "tipId":1, 
					    	  "tipContent":"持续的资金注入难改短期的弱势格局1， 便再次出现大跌", 
					    	  "lastModifiedTime":"2015-07-01 16:26", 
					    	  "nbComments":7, 
					    	  "nbLikes":3, 
					    	  "nbDislikes":4
						}, 
						{
					      "tipId":2, 
				    	  "tipContent":"持续的资金注入难改短期的弱势格局1， 便再次出现大跌", 
				    	  "lastModifiedTime":"2015-07-01 16:26", 
				    	  "nbComments":7, 
				    	  "nbLikes":3, 
					   	  "nbDislikes":4
						}
					]
				
				}, 
				{
					"newsId":2, 
					"newsTitle":"消息称国务院将特批银行持券商牌照试点", 
			    	"newsDate":"2015-09-09",
			    	"newsAbstract":"伴随着银行混合所有制改革拉开大幕，混业经营备受关注，放开券商牌照的问题如一把悬在头上的达摩克利斯之剑。日前..." 		
					"tips":
					[
						{
					      "tipId":4, 
				    	  "tipContent":"持续的资金注入难改短期的弱势格局1， 便再次出现大跌", 
				    	  "lastModifiedTime":"2015-07-01 16:26", 
				    	  "nbComments":7, 
				    	  "nbLikes":3, 
					   	  "nbDislikes":4
					    }
					]
				}
			], 
		
			"historyData":
			[
				 {
		        	 "date": "2015-08-01",
		        	 "value": 15.7
		         }, 
		         {
		        	 "date": "2015-08-02",
		        	 "value": 15.8
		         }
			]
		}
	}
	</pre>
	</div>
	
																							<!-- 添加TIP-->
	<div>																		
	<span class="label label-default">添加TIP</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/tips/add
	<pre>
	{
		"sessionId":"xxxx"
		"pubId":5, 
		"newsId":12, 
		"content":"预计股指将有小幅调整， 建议持续观察"
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":success, 
		"reason":null, 
		"tip":{
			"tipId":10, 
			"content":"预计股指将有小幅调整， 建议持续观察", 
			"lastModifiedTime":"2015-08-08 12:39"
		}
	}
	</pre>
	</div>
	
	
	
																							<!-- 修改TIP-->
	<div>																				
	<span class="label label-default">修改TIP</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/tips/edit
	<pre>
	{
		"tipId": 5, 
		"content":"预计股指将有小幅调整， 建议持续观察"
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":success, 
		"reason":null, 
		"tip":{
			"tipId":10, 
			"content":"预计股指将有小幅调整， 建议持续观察", 
			"lastModifiedTime":"2015-08-08 12:39"
		}
	}
	</pre>
	</div>
	
	
																							<!--读者收藏-->
	<div>																			
	<span class="label label-default">读者收藏</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/user/favorites/add
	<pre>
	{
		 "sessionId":"IUWID987398OSI", //关联用户
		 "pubId":15, //关联pub
	 },
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", / "fail"
		"reason": null
	}
	</pre>
	</div>


																							<!--获取新闻详情-->
	<div>																			
	<span class="label label-default">获取新闻详情 </span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/news/get
	<pre>
	{
		"newsId": 5
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", 
		"reason":null, 
		"news":
		{
			"newsId":5, 
			"newsTitle":"消息称国务院将特批银行持券商牌照试点5", 
			"newsDate":"2015-09-09", 
			"newsContent":"伴随着银行混合所有制改革拉开大幕，混业经营备受关注，放开券商牌照的问题如一把悬在头上的达摩克利斯之剑。日前，《经济参考报》记者从知情人士处获悉，
			《商业银行法》修改的内容里，除了取消存贷比外，更重要的是涉及银行经营业务范围的进一步完善和补充，给混业经营在法律层面上预留空间。银行受托理财的功能，银行不能直接做信托业务，但
			实际上银行理财产品已经承担了代客理财、受托投资的功能。收益与风险挂钩，不可能全是刚性兑付，而现实是投资者无法接受损失风险，这也是制度层面不完善所带来的误区。
			未来银行业在混业经营的趋势下，业务范围需要进一步界定。在监管方面，未来一定是倾向于根据金融机构的具体业务划定监管职责，而非根据机构本身来划定监管，因此协同监管也越来越重要。”鲁政委说。" 
		}
	}
	</pre>
	</div>


																							<!--预订/取消预订新闻 -->
	<div>																			
	<span class="label label-default">预订/取消预订新闻 </span> 
	<br>Request:
	<br><label class="label label-primary">POST</label> http://123.57.210.176/news/book
	<pre>
	{
		"sessionId":"xxxx", 
		"newsId": 5, 
		"isToBook":true //是否预订新闻。true==预订 false==取消预订新闻
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", 
		"reason":null, 
		"isBooked":true //最终新闻预订的结果。true==此用户已经预订此新闻 false==此用户已取消预订了此新闻
	}
	</pre>
	</div>


																							<!--获取新闻List -->
	<div>																			
	<span class="label label-default">获取新闻List</span> 
	<br>Request:
	<br><label class="label label-primary">POST</label> http://123.57.210.176/news/list
	<pre>
	{
		//功能为：返回半年内所有新闻， 对于每条新闻， 对于某一个pub， 针对此session用户， 看此条新闻此用户是否预订 
		"sessionId": "xxx", //此处用户Id
		"pubId":5 //此pub
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", 
		"reason":null, 
		"newsList":[
			{
				"newsId":1, 
				"newsTitle":"消息称国务院将特批银行持券商牌照试点1", 
		    	"newsDate":"2015-09-09", 
		    	"isBooked":true, //此条新闻用户是否已经预订
		    	"newsAbstract":"伴随着银行混合所有制改革拉开大幕，混业经营备受关注。日前..."
			}, 
			{
				"newsId":2, 
				"newsTitle":"消息称国务院将特批银行持券商牌照试点2", 
		    	"newsDate":"2015-09-09", 
		    	"isBooked":false,  //此条新闻用户是否已经预订
		    	"newsAbstract":"伴随着银行混合所有制改革拉开大幕，混业经营备受关注。日前..."
			}
		]	
	}
	</pre>
	</div>
	
	
</div>
</accordion-group>		
																					<!-- 预测发布页 -->
<!-- ============================================================================================================================================================= -->		
<accordion-group heading="Static Header, initially expanded">
<accordion-heading>
<button class="btn btn-info btn-sm">预测发布页</button>
</accordion-heading>
<div class="well">
<label>预测发布页</label>

																					<!--获取预测 -->
	<div>
	<span class="label label-default">获取预测</span>											
	<br>Request: <br><label class="label label-primary">POST</label> http://123.57.210.176/prediction/get
	<pre>
	{
		 "sessionId":"IUWID987398OSI", //关联用户
		 "pubId":15, //关联pub
	 },
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", / "fail"//功能上的
		"reason": null / "错误原因", 
		"prediction":{
			 "sessionId":"IUWID987398OSI", //关联用户
			 "pubId":15, //关联pub
			 "time":7, （预测周期）: 1,7,14,30,90,180 天
			 "minVal":-2, 最小涨跌幅
			 "maxVal":3.5, 最大涨跌幅
			 "minPct":15, 最小涨跌百分比
			 "maxPct":20, 最大跌百分比
			 "cmt"":"预测跌幅较大，建议抛售", 
			 "lastModifiedTime":"2015-07-01 15:37:28" //最后一次更新/创建时间
		} 
		//或prediction: null 即没有预测
	}
	</pre>
	</div>

																					<!--预测发布 -->

	<div>																	
	<span class="label label-default">预测发布</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/prediction/add
	<pre>
	{
		 "sessionId":"IUWID987398OSI", //关联用户
		 "pubId":15, //关联pub
		 "time":7, （预测周期）: 1,7,14,30,90,180 天
		 "minVal":-2, 最小涨跌幅
		 "maxVal":3.5, 最大涨跌幅
		 "minPct":15, 最小涨跌百分比
		 "maxPct":20, 最大跌百分比
		 "cmt":"预测跌幅较大，建议抛售"
	 },
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", / "fail"//功能上的
		"reason": null / "错误原因", 
		"prediction":{
			 "sessionId":"IUWID987398OSI", //关联用户
			 "pubId":15, //关联pub
			 "time":7, （预测周期）: 1,7,14,30,90,180 天
			 "minVal":-2, 最小涨跌幅
			 "maxVal":3.5, 最大涨跌幅
			 "minPct":15, 最小涨跌百分比
			 "maxPct":20, 最大跌百分比
			 "cmt"":"预测跌幅较大，建议抛售", 
			 "lastModifiedTime":"2015-07-01 15:37:28" //最后一次更新/创建时间
		}
	}
	</pre>
	</div>
	
																					<!--预测修改 -->
	<div>							
	<span class="label label-default">预测修改</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/prediction/edit
	<pre>
	{
		 "sessionId":"IUWID987398OSI", //关联用户
		 "pubId":15, //关联pub
		 "time":7, （预测周期）: 1,7,14,30,90,180 天
		 "minVal":-2, 最小涨跌幅
		 "maxVal":3.5, 最大涨跌幅
		 "minPct":15, 最小涨跌百分比
		 "maxPct":20, 最大跌百分比
		 "cmt:"预测跌幅较大，建议抛售"
	 },
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", / "fail"//功能上的
		"reason": null / "错误原因", 
		"prediction":{
			 "sessionId":"IUWID987398OSI", //关联用户
			 "pubId":15, //关联pub
			 "time":7, （预测周期）: 1,7,14,30,90,180 天
			 "minVal":-2, 最小涨跌幅
			 "maxVal":3.5, 最大涨跌幅
			 "minPct":15, 最小涨跌百分比
			 "maxPct":20, 最大跌百分比
			 "cmt"":"预测跌幅较大，建议抛售", 
			 "lastModifiedTime":"2015-07-01 15:37:28" //最后一次更新/创建时间
		}
	}
	</pre>
	</div>
	
	
</div>
</accordion-group>		
																				<!-- Coverpage页 -->
<!-- ============================================================================================================================================================= -->		
<accordion-group heading="Static Header, initially expanded">
<accordion-heading>
<button class="btn btn-info btn-sm">Coverpage页</button>
</accordion-heading>
<div class="well">
<label>Coverpage页</label>
			
																				<!--获取PUB 信息 -->
	<div>																			
	<span class="label label-default">获取pub信息</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/coverpage/get
	<pre>
	{
		 "sessionId":"IUWID987398OSI", //关联用户
		 "pubId":15, //关联pub
	 },
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", / "fail"//功能上的
		"reason": null / "错误原因", 
		"pubInfo":{
			"createDate":"2015-06-04", 
			"desc":"一段关于股神小白的自我评价", 
			"owner":"股神小白", 
			"ownerImg":"images/home/gushen.png", //作者头像img, 
			"pubImg":"images/home/exp1.png", //图像
			"available":false, //是否免费或未过期之类的
			"totalLikes":289, //全部点赞数 针对pub
			"totalProfit": 138, //全局盈利率, 
			"price":37.99, 
			"boughtNum":29, //多少人购买
			"cmts":[
				{
					"time":"2015-08-07 12:59:59", 
	  	  				"title":null, 
	  	  				"username":"小红", 
	  	  				"cmt":"不错 挺准确的", 
	   	  			"userImg":"images/3rd/qq.png" //用户头像
				}, 
				{
					"time":"2015-08-07 12:59:59", 
	  	  				"title":null, 
	  	  				"username":"小白", 
	  	  				"cmt":"不怎么样", 
	   	  			"userImg":"images/3rd/qq.png"
				}, 	
			]
		}
	}
	</pre>
	</div>
	
																				<!--举报 -->
	<div>																				
	<span class="label label-default">举报</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/report/add
	<pre>
	{
		 "sessionId":"IUWID987398OSI", //关联用户
		 "pubId":15, //关联pub
		 "contact":"123929201", // 联系方式
		 "cmt":"nnnnn..."//其他信息
	 },
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", / "fail"//功能上的
		"reason": null / "错误原因"
	}
	</pre>
	</div>
	
	
</div>
</accordion-group>		
																					<!-- 修改历史页面 -->
<!-- ============================================================================================================================================================= -->		
<accordion-group heading="Static Header, initially expanded">
<accordion-heading>
<button class="btn btn-info btn-sm">修改历史页</button>
</accordion-heading>
<div class="well">
<label>修改历史页面</label>

																					<!--TIP 修改历史 -->

	<div>
	<span class="label label-default">TIPS 修改历史</span> 
	<br>Request:
	<br><label class="label label-primary">POST</label> http://123.57.210.176/history/tip
	<pre>
	{
		 "sessionId":"IUWID987398OSI", //关联用户
		 "tipId":15, //关联tip
	 },
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", / "fail"//功能上的
		"reason": null / "错误原因", 
		"history":[
			{
				"date":"2015-07-01", 
				"content":"周一的市场仅小幅高开，便再次出现大跌，这就是我们所说的趋势的力量，在逼近4000点时，"
			}
		
		]
	}
	</pre>
	</div>
	
																					<!--预测修改历史-->
	<div>																					
	<span class="label label-default">PREDICTION 修改历史</span> 
	<br>Request: <label class="label label-danger">???????????</label>
	<br><label class="label label-primary">POST</label> http://123.57.210.176/history/prediction
	<pre>
	{
		 "sessionId":"IUWID987398OSI", //关联用户
		 "pubId":15, //pub
	 },
	</pre>
	<br>Response: <label class="label label-danger">???????????</label>
	<pre>
	{
		"result":"success", / "fail"//功能上的
		"reason": null / "错误原因", 
		"history":[
			{
				"date":"2015-07-01", 
				"content":"周一的市场仅小幅高开，便再次出现大跌，这就是我们所说的趋势的力量，在逼近4000点时，"
			}
		]
	}
	</pre>
	</div>
	
	
</div>
</accordion-group>
																					<!-- 我的页面 -->
<!-- ============================================================================================================================================================= -->
<accordion-group heading="Static Header, initially expanded">
<accordion-heading>
<button class="btn btn-info btn-sm">“我的”相关页面</button>
</accordion-heading>
<div class="well">
<label>"我的"页面</label>

																					<!--获取个人账户信息-->
	<div>																			
	<span class="label label-default">获取个人账户信息</span>
	<br>Request:
	<br><label class="label label-primary">POST</label> http://123.57.210.176/member/get
	<pre>
	{
		"sessionId":"xxx"
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success",
		"reason":null, 
		"userInfo":{
			"isVIP":false,
			"userId":"G23837KIl", 
			"imgUrl":"images/3rd/qq.png", 
			"nickName":"GAOGAO", 
			"moto":"God bless U", 
			"gender":"男",
			"address":"北京 - 海淀", 
			"birthday":"1900-01-01", 
			"realName":"GAOCHENYANG", 
			"company":"XXX", 
			"contact":"XXX", //邮箱
			"contact2":null, // 电话
			"education":"研究生", 	
			"pubs":[
				{
					"pubId":1, 
					"date":"2015-01-01", 
					"pubName":"孤注一掷", 
					"desc":"东半球最准预测pub..", 
					"imgUrl":"images/home/exp1.png"
				}, 
				{
					"pubId":2, 
					"date":"2015-01-01", 
					"pubName":"孤注一掷", 
					"desc":"西半球最准预测pub..", 
					"imgUrl":"images/home/exp2.png"
				}
			]	
		}
	}	
	</pre>
	</div>

																					<!--修改个人账户信息-->	
	<div>																							
	<span class="label label-default">修改个人账户信息</span> 
	<br>Request:
	<br><label class="label label-primary">POST</label> http://123.57.210.176/member/edit
	<pre>
	{
		sessionId:"xxx", 
		userInfo:{
					nickName:"GGA", 
					moto:"xx", 
					gender:"男", //或 女
					address:"xxx", 	
					birthday:"1900-01-01", 
					imageData:null //图像数据 与createpub相同 
			}
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", 
		"reason":null
	}
	</pre>
	</div>

																					<!--我的发布 -->
	<div>									
	<span class="label label-default">我的发布列表</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/member/pubs
	<pre>
	{
		"sessionId":"xxx"
	}
	</pre>
	<br>Response:
	<pre>
	格式仿照发现页pub列表 ， 只是根据此用户给出
	</pre>
	</div>
	
	
																					<!--我的收藏 -->
	<div>																
	<span class="label label-default">我的收藏列表</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/member/collection
	<pre>
	{
		"sessionId":"xxx"
	}
	</pre>
	<br>Response:
	<pre>
	格式仿照发现页pub列表只是根据此用户给出
	</pre>
	</div>


																					<!--我的购买 -->
	<div>																	
	<span class="label label-default">我的购买记录列表</span> 
	<br>Request:
	<br><label class="label label-primary">POST</label> http://123.57.210.176/member/buylog
	<pre>
	{
		"sessionId":"xxx"
	}
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", 
		"reason":null, 
		"boughts":[
			{
				"time": "2015-07-08 12:09"
				"price": 14.99, 
				"pubId":15, 
				"pubName":"小巴说中车"
			}, 
			{
				"time": "2015-07-08 12:09"
				"price": 14.99, 
				"pubId":12, 
				"pubName":"白说中车"
			}
		]
	}
	</pre>
	</div>
	
																					<!--申请小巴 -->
	<div>																
	<span class="label label-default">申请小巴</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/member/applyvip
	<pre>
	{
		sessionId:"xxx", 
		applyInfo:{
			realName:"xxx",//真实姓名 
			company:"xxx", 
			contact:"xxx", //邮箱
			contact2:"xxx", //电话
			education:"研究生", //或 大学， 博士， 博士后
		}
	};
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", 
		"reason":null
	}
	</pre>
	</div>


</div>
</accordion-group>

																					<!-- 动态页 -->
<!-- ============================================================================================================================================================= -->
<accordion-group heading="Static Header, initially expanded">
<accordion-heading>
<button class="btn btn-info btn-sm">动态页</button>
</accordion-heading>
<div class="well">
<label>动态页</label>

																					<!-- 获取动态-->
	<div>						
	<span class="label label-default">动态</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/feed/get
	<pre>
	{
		sessionId:"xxx"
	};
	</pre>
	<br>Response:
	<pre>
	{
		"result":"success", 
		"reason":null, 
		"feeds":[
			{
				"type":"tipFeed", 
				"time":"2015-07-01 15:30", 
				"pubId":3, 
				"pubName":"股神小吧的Pub", 
				"pubOwner": "股神小吧", 
				"imgUrl":"images/3rd/somua.jpg",
				"tipId":1, 
				"nbComments":7, 
				"nbLikes":1, 
				"nbDislikes":3, 
				"newsId":2, 
				"newsTitle":"消息称国务院将特批银行持券商牌照试点", 
				"newsAbstract":"伴随着银行混合所有制改革拉开大幕，混业经营备受关注，放开券商牌照的问题如一把悬在头上的达摩克利斯之剑。日前...", 
				"tipContent":"伴随着银行混合所有制改革拉开大幕，混业经营备受关注，放开券商牌照的问题如一把悬在头上的达摩克利斯之剑"
			},
			{
				"type":"predictionFeed", 
				"time":"2015-07-01 15:30", 
				"pubOwner": "股神小吧", 
				"imgUrl":"images/3rd/somua.jpg",
				"pubName":"股神小吧的Pub", 
				"pubId":3, 
				"predictionId":3,
				"predictionContent":"预测将要大涨， 建议持股等待"
			}
		]
	}
	</pre>
	</div>
	
	
</div>
</accordion-group>

																					<!-- 用户讨论页 -->
<!-- ============================================================================================================================================================= -->
<accordion-group heading="Static Header, initially expanded">
<accordion-heading>
<button class="btn btn-info btn-sm">用户讨论页</button>
</accordion-heading>
<div class="well">
<label>用户讨论页</label>

																					<!-- 获取讨论-->
	<div>						
	<span class="label label-default">获取讨论</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/discussion/list
	<pre>
	{
		tipId
		sessionId
	};
	</pre>
	<br>Response:
	<pre>
	{
	    "result": "success",
	    "reason": null,
	    "tipInfo": {
	        "tipId": 4,
	        "tipContent": "测试添加 Tips 哈哈哈好1 1231231223123221\n哎呀 22222",
	        "lastModifiedTime": "2015-08-24 07:47:44",
	        "comments": {
	            "likes": [
	                {
	                    "time": "2015-08-29 16:36:16",
	                    "title": "",
	                    "username": "Wayne Jiang",
	                    "cmt": "浦发",
	                    "userImg": "http://123.57.210.176/images/users/1.jpeg"
	                }
	            ],
	            "dislikes": [
	                {
	                    "time": "2015-08-29 16:36:21",
	                    "title": "",
	                    "username": "Wayne Jiang",
	                    "cmt": "浦发2",
	                    "userImg": "http://123.57.210.176/images/users/1.jpeg"
	                }
	            ]
	        }
	    }
	}	
	</pre>
	</div>
	
																					<!-- 添加讨论-->
	<div>						
	<span class="label label-default">添加讨论</span> 
	<br>Request: 
	<br><label class="label label-primary">POST</label> http://123.57.210.176/discussion/add
	<pre>
	{
		pubId
		tipId
		agree Int 支持或反对 1/0
		sessionId
		content
	};
	</pre>
	<br>Response:
	<pre>
	{
	    "result": "success",
	    "reason": null
	}	
	</pre>
	</div>
	
</div>
</accordion-group>

																					<!-- 其他 -->
<!-- ============================================================================================================================================================= -->
<accordion-group heading="Static Header, initially expanded">
<accordion-heading>
<button class="btn btn-info btn-sm">其他项（解释，备注等）</button>
</accordion-heading>
<div class="well">
<label>其他临时</label>

	<p>
		<br>关于登陆， 可以查看右上角的登陆提示。如果没有选择5天登陆，则关闭浏览器自动销毁seesion。 从 2015-08-07只有登陆后，才可继续查看其他页面
		<br>
		<span class="label label-success">五天内免登陆：由cookie完成。如果登陆成功，记录user信息，前台自动跳转到发现页</span>
		<br>
		<span class="label label-warning">第三方登陆(NOK, 需APPID, 暂时无法实现)</span> <br>
	</p>
	<p>
		由于项目进度需要，目前把重点放在功能及接口上. 无美工和优化 <br>
		<br>
		<span class="label label-info">token验证临时用access-token= test</span> 
		<span class="label label-info">分页先放一放</span> <br>
		<span class="label label-warning">(service名称可由@jiangwei定义)</span>
	</p>

</div>
</accordion-group>




</accordion>
</div>