		<div style="margin-top:5px;" class="alert alert-success" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
				<label>前台进展</label>
				<p>
					由于项目进度需要，目前打算把重点放在功能及接口上. 目前还暂时没有时间把接口和数据结构定义出来。 
					计划：<br/>
					1. 主要页面展示<br/>
					2. 大致过一遍页面细节（仅限于最基本的页面显示，无美工和优化）<br/>
					3. 与@江伟 合作 定义接口，a)一页一页做, 同时优化页面及代码 或者 b)统一定义接口，前台做mock数据，后台开发。 可一个模块一个模块整合<br/>
					4. 整体优化<br/>
				</p>
				
				<br/><br/>
				<label>各个页面进展</label>
				<span class="label label-danger">！UI无美工及优化 仅仅是功能上的定义</span>
				<div class="well">
					<label>登陆页</label>
					<p>
						
						<br>验证码，需要后台验证。目前仅是6位随机数字 
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>登陆页面，注册页面，
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>登出
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>第三方登陆
						<br><span class="label label-danger">(NOK, 需APPID, 暂时无法实现)</span>
					</p>	
				</div>
				
				<div class="well">
					<label>发现页</label>
					<p>
						
						<br>a. 搜索（全部/找股票/找小巴/找新闻）
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>b. 显示pub list（目前按照更新时间排序） 
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>c. 点击某个pub，进入coverpage 
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>d. 创建新的pub 
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
					</p>	
				</div>
				
				<div class="well">
					<label>创建新Pub页</label>
					<p>
						
						<br>a. 选择股票 
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>b. 上传图片（可以不上传，用default图片
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>c. 写一段概述
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>d. 小巴可以选择收费（3档：每周1/5/10元），一般用户的pub都是免费
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>e. 点击创建进入timeline页
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
					</p>	
				</div>
				
				<div class="well">
					<label>Timeline页</label>
					<p>
						<br>a. 记录每个用户在每个timeline页的访问情况，比如最后浏览的tips 的ID（在没有打开过或者没有购买的情况下，最后浏览的tips ID当作0，需要先进入coverpage；
						一旦进入之后就保留最后浏览的tip的ID，类似读书时候作为书签，从发现页/点击tips进入此pub的时候，coverpage就可以直接跳过）
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>b. 显示股票当日行情和K线图（包括预测，点击预测上面的小图标显示预测的解释）
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>c. 显示在timeline上已发表的tips（包括发布者头像，昵称和tips相对应的news），点赞数，讨论（点击后下拉显示），发布日期（精确到分钟）。读者用户只能看到发表的tips和相关news，而不是所有。点击头像进入发布者个人详情页面。
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>d. 发布者用户可以看到半年以内所有news，发布相对应的tips
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>e. 发布者用户可以修改已发表的tips，但是所有修改记录（包括内容和时间，都会被后台记录），页面上会显示最新的内容以及”修改于2015-07-25 12:30“，读者点击”修改于。。。“之后进入修改历史页面
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>f. 发布者用户可以点击进入预测发布页面
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>g. 显示预测准确率 （计算不用管）
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>h. 读者可以收藏 
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>i. 用户可以点击分享到微信朋友圈，qq空间，微博等
						<br><span class="label label-danger">(UI NOK， 第三方仅仅是显示)</span>
					</p>	
				</div>
				<div class="well">
					<label>预测发布页</label>
					<p>
						
						<br>a. 发布预测（预测仅限从当天开始），预测未来时间点（1天，1周，2周，1月，3月，半年），涨幅上下限（值/率）, 可以添加一段解释。
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>b. 发布者用户可以修改已发表的预测，但是所有修改记录（包括内容和时间，都会被后台记录），页面上会显示最新的内容以及”修改于2015-07-25 12:30“，读者点击”修改于。。。“之后进入修改历史页面	
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
					</p>	
				</div>
				<div class="well">
					<label>Coverpage页</label>
					<p>
					
					<br>a. 显示点赞总数（=此pub所有的tips的点赞数的总和）
					<br><span class="label label-primary">(UI OK， API 集成OK)</span>
					<br>b. 按照时间倒序显示评价
					<br><span class="label label-primary">(UI OK， API 集成OK)</span>
					<br>c. 评价 //这个是对整个pub的评价，和对tips的discussion不一样
					<br><span class="label label-primary">(UI OK， API 集成OK)</span>
					<br>d. 举报 （用户输入：联系方式，其他信息，比如原创作者信息）
					<br><span class="label label-primary">(UI OK， API 集成OK)</span>
					<br>e. 购买（进入支付方式选择页，支付成功进入此pub的Timeline页，支付失败则保留在coverpage页。购买成功的pub自动被收藏）
					<br><span class="label label-danger">(UI NOK， 仅仅是显示)</span>
					</p>	
				</div>
				<div class="well">
					<label>修改历史页面</label>
					<p>
						<br>a. 按照倒序时间列出所有历史修改 (tips+prediction)
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
					</p>	
				</div>
				
				
				<div class="well">
					<label>“我的”页面</label>
					<p>
						
						<br>a. 显示头像，点击头像更改头像
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>b. 点击设置，显示帐号信息：昵称（初始可以为qq号，可以修改，但是必须unique），个性签名，性别，地区（比如：北京-海淀区），生日。
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>c. ”我的发布“，点击进入显示我发布的pub列表
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>d. ”我的收藏“，点击进入我收藏的pub列表（类似发现页）
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>e. ”我的购买记录“，点击进入我购买记录列表（可以点击未过期的pub进入timeline页）
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>f. ”申请小巴“，点击进入申请页面（实名认证，工作单位，联系方式，工作年限，学历），提交成功后，官方人工审核（成功后头像上加V）
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
					</p>	
				</div>
				<div class="well">
					<label>个人详情页面</label>
					<p>
						<br>a. 显示头像，昵称，个性签名，性别，地区（比如：北京-海淀区），生日
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
						<br>b. 显示发布的pub列表
						<br><span class="label label-primary">(UI OK， API 集成OK)</span>
					</p>	
				</div>
				
				<div class="well">
					<label>动态页</label>
					<br><span class="label label-primary">(UI OK， API 集成OK)</span>
				</div>
				
				<div class="well">
					<label>其他临时</label>
					<p>
						<br>关于timeline中访问过的tipsID， 用cookie记录。测试可用“清空所有cookie”清除
					</p>	
				</div>
				
		</div>